python-dotenv==1.0.1
Django==5.2.11
django-cors-headers==4.9.0
django-ckeditor==6.7.3
django-ckeditor-5==0.2.19
django-js-asset==3.1.2
channels==4.3.2
daphne==4.2.0
gunicorn==25.1.0
psycopg2-binary==2.9.11
weasyprint==68.1
whitenoise==6.11.0
PyJWT==2.12.1
channels_redis
